.row {
  background-color: white;
}

#schedulcontainer {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;

}
.vert {
  margin-top: auto;
  margin-bottom: auto;
}

.time-right {
  position: relative;
  color:black;
  font-size: 1.5rem;
}

.widget-options {
  color:black;
  font-size: 1.5rem;
}
.widget-body {
  color:black;
  font-size: 2rem;
}
.username{
  font-size: 2rem;
}