<div class="widget has-shadow">
  <div class="widget-header">
    <h2>Widget Header</h2>
</div>
  <div class="widget-header bordered no-actions d-flex align-items-center">
    <h2>Widget Header With Border</h2>
</div>     
  <div class="widget-header bordered no-actions d-flex align-items-center">
    <h2>Widget Header No Border</h2>
</div>
<div class="widget-header bordered no-actions d-flex align-items-center">
  <h2>Widget Header With Border</h2>
  <div class="widget-options">
      <div class="dropdown">
          <button type="button" id="actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
              <i class="la la-ellipsis-h"></i>
          </button>
          <div aria-labelledby="Actions" class="dropdown-menu">
              <a href="#" class="dropdown-item"> 
                  Options 1
              </a>
              <a href="#" class="dropdown-item"> 
                  Options 2
              </a>
              <a href="#" class="dropdown-item"> 
                  Options 3
              </a>
          </div>
      </div>
  </div>
</div>
<div class="widget-header bordered no-actions d-flex align-items-center">
  <h2>Widget Header With Border</h2>
  <div class="widget-options">
      <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary">Button 1</button>
          <button type="button" class="btn btn-primary">Button 2</button>
      </div>
  </div>
</div>
  <div class="widget-body">
      Content Body
  </div>
  <div class="widget-footer">
      Content Footer
  </div>
</div>

