<div class="widget has-shadow">
    <div class="widget-header bordered no-actions d-flex align-items-center">
        <h4>{{model.Header}}</h4>
    </div>
    <div class="widget-body">
        <div class="table-responsive">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th>Team Name</th>
                        <th>Lap Count</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let team of teamLeaderboarData">
                        <td>{{team.team_name}}</td>
                        <td>{{team.laps}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>