<div class="row flex-row h-100">
  <div class="col-12 my-auto">
    <div class="container-fluid h-100 overflow-y">
      <div class="row">
        <a routerLink="/admin" routerLinkActive="active">Back to Admin</a><br />
      </div>
      {{AppConfigLocal.settings | json}}
      <div *ngIf="!AppConfigLocal.settings.access_token" class="row">
        <button (click)="logIntoSpotify()">Log In To Spotify Account</button>
      </div>
      <div *ngIf="AppConfigLocal.settings.access_token" class="row">
        <strong>Access Token :</strong>
        <p>{{AppConfigLocal.settings.access_token}}</p>
      </div>
      <div *ngIf="AppConfigLocal.settings.access_token" class="row">
        <strong>Refresh Token :</strong>
        <p>{{AppConfigLocal.settings.refresh_token}}</p>
      </div>
      <div *ngIf="AppConfigLocal.settings.access_token" class="row">
        <p>Log onto <a target="_blank" href="https://developer.spotify.com/dashboard/applications">Spotify Developers
            Dashboard</a> to register an application and get a client key and secret</p>
      </div>
      <div *ngIf="AppConfigLocal.settings.access_token" class="row">
        <p><label for="clientid"><strong>Spotify Application Client Id:</strong></label>&nbsp;<input id="clientid" type="text"
            [(ngModel)]="AppConfigLocal.settings.ClientId"></p>
      </div>
      <div *ngIf="AppConfigLocal.settings.access_token" class="row">
        <p><label for="clientsecret"><strong>Spotify Application Client Secret:</strong></label>&nbsp;<input id="clientsecret"
            type="text" [(ngModel)]="AppConfigLocal.settings.ClientSecret"></p>
      </div>
      <div *ngIf="readyToPlaySpotify()" class="row">
        <button (click)="startPlaylist()">StartPlaylist</button>
        <button (click)="pause()">Pause</button>
        <button (click)="resume()">Resume</button>
        <button (click)="volume100()">Volume 100%</button>
        <button (click)="volume75()">Volume 75%</button>
        <button (click)="volume50()">Volume 50%</button>
        <button (click)="volume25()">Volume 25%</button>
      </div>
      <div *ngIf="userDevices">
        <div class="widget has-shadow">
          <div class="widget-header bordered no-actions d-flex align-items-center">
            <h4>Devices</h4>
          </div>
          <div class="widget-body">
            <div class="table-responsive">
              <table class="table table-hover mb-0">
                <thead>
                  <tr>
                    <th>Device Name</th>
                    <th>Device Id</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let device of userDevices" (click)="onSpotifyDeviceSelect(device)">
                    <td><span class="text-primary">{{device.name}}</span></td>
                    <td>{{device.id}}</td>
                    <td><span style="width:100px;"><span [class.success]="device.id === AppConfigLocal.settings.DeviceId"
                          [class.info]="device.id !== AppConfigLocal.settings.DeviceId" class="badge-text badge-text-small">{{device.id
                          !== AppConfigLocal.settings.DeviceId ? 'Not ' : ''}}Selected</span></span></td>
                    <td class="td-actions">
                      <a><i title="Select Device to play to" class="la la-spotify select"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="AppConfigLocal.settings.Device && userPlaylists && AppConfigLocal.settings.access_token">
        <div class="widget has-shadow">
          <div class="widget-header bordered no-actions d-flex align-items-center">
            <h4>My Playlists</h4>
          </div>
          <div class="widget-body">
            <div class="table-responsive">
              <table class="table table-hover mb-0">
                <thead>
                  <tr>
                    <th>Playlist Name</th>
                    <th>No of Tracks</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let playlist of userPlaylists.items" (click)="onSpotifyPlaylistSelect(playlist)">
                    <td><span class="text-primary">{{playlist.name}}</span></td>
                    <td>{{playlist.tracks.total}}</td>
                    <td><span style="width:100px;"><span [class.success]="playlist.id === AppConfigLocal.settings.Playlist"
                          [class.info]="playlist.id !== AppConfigLocal.settings.Playlist" class="badge-text badge-text-small">{{playlist.id
                          !== AppConfigLocal.settings.Playlist ? 'Not ' : ''}}Selected</span></span></td>
                    <td class="td-actions">
                      <a><i title="Select Playlist to play on Spotify" class="la la-spotify select"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
